[submodule "elisp/multi-libvterm"]
	path = elisp/multi-libvterm
	url = https://github.com/suonlight/multi-libvterm

[submodule "elisp/ws-butler"]
	path = elisp/ws-butler
	url = https://github.com/hlissner/ws-butler
