*~
places
recentf
smex-items
projectile-bookmarks.eld
projectile.cache
auto-save-list/
backup/
desktop/
elpa/
eshell/
anaconda-mode/
company-statistics-cache.el
*.elc
setup-files/.tern-port
.DS_STORE
.git/