*~
places
recentf
smex-items
projectile-bookmarks.eld
projectile.cache
auto-save-list/
backup/
desktop/
elpa/
eshell
.emacs.desktop
anaconda-mode/
games/
bookmarks
company-statistics-cache.el
.mc-lists.el
.saved-places
tutorial/
url/
diminish-modes-1.el
history